<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1:2 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
    <link rel="important stylesheet" href="chrome://messagebody/skin/messageBody.css">
</head>

<body>
<table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tr>
        <td align='center' bgcolor='#ffffff' style='background-color: #ffffff;' valign='top'>
            <br>
            <table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' class='container' width='600'>
                </tr>
                <tr>
                    <td style='padding:10px 30px 46px;color:rgb(51,51,50)'>
                        <div style='margin-bottom:40px;text-align:center;'>
                            <div style='margin: 0px auto 0px auto;text-align:center;'>
                                <img alt='immpres logo' src='https://immpres.com/img/comingsoon/immpres_logo.png' style='display:block;'>
                            </div>
                        </div>

                        <div>
                            <div class='trk-body' style='margin-top:15px;font-size:16px;line-height:23px;color:rgb(33, 33, 33);'>
                                <p style='font-size:24px;'>
                                    [<strong>immpres</strong>] Your email changed
                                </p>
                                <p>
                                    Dear {{name}},
                                    <br>
                                    You requested to change your email address to {{email}}.
                                    <br>
                                    immpres
                                </p>

                                <div style='text-align:center'>
                                    <p style='margin:0px 0px 20px'>
                                        <a href="http://www.immpres.com" style="color:rgb(255,255,255);text-decoration:none;display:inline-block;min-height:38px;line-height:39px;padding:0px 16px;outline:0px;background-color:rgb(52,68,117);font-size:14px;text-align:center;font-style:normal;font-weight:400;border:0px;vertical-align:bottom;white-space:nowrap;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;margin-top:12px;margin-bottom:0px;background-repeat:initial initial" target="_blank">Check back online</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <td style='padding:0px;font-size:12px;text-align:center;color:rgb(179,179,177)'>
                        <div style='padding-top:13px;border-top-width:1px;border-top-style:solid;border-top-color:rgb(229,229,229)'>
                            <a href='https://immpres.com' style='text-decoration:none;color:rgb(100, 100, 100)' target='_blank'>
                                <span class='il'>immpres Sagl</span>
                            </a>
                            <span>&nbsp;</span>
                            Lugano, Switzerland
                        </div>
                        <br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
